@font-face {
    font-family: rice;
    src: url(./font/Poppins-Light.ttf);
}

@font-face {
    font-family: logo;
    src: url(./font/Anurati-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rice;
    font-weight: 100;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: black;
    position: relative;
    overflow-y: auto;
    overflow: hidden;
}

#main::-webkit-scrollbar {
    display: none;
}

.nav {
    height: 100px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    border-bottom: 2px solid #3c3c3c;
    color: #DCFF7E;
}

.nav-part-2 {
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav h2 {
    font-size: 2vw;
    font-family: logo;
    letter-spacing: 1vw;
    color: rgb(255, 240, 103);
}

.nav h4 {
    font-size: 1.4vw;
}

.nav i {
    font-size: 2.5vw;
    flex-wrap: 800;
    display: none;
    color: #ffffff;
}

#page1 {
    height: calc(100vh - 100px);
    width: 100vw;
    /* background-color: aquamarine; */
    position: relative;
    display: flex;
}

.profile {
    height: 400px;
    width: 400px;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    /* background-image: url(/assets/images/Snapchat-467590191.jpg); */
    background-size: cover;
    object-fit: cover;
    background-position: center;
    overflow: hidden;
}

.profile img {
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left {
    height: 100vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    /* padding: 0 5vw; */
}

.right {
    height: 100vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    color: #747474;
    padding: 0vw 5vw;
}

.right h1 {
    font-size: 4vw;
    text-align: center;
    margin-top: -80px;
    /* padding: 20px 0px; */
}

.skills {
    height: 15vw;
    width: 20vw;
    /* background-color: black; */
}

.skills h4 {
    /* background-color: black; */
    color: #e6e2e2;
    /* display: inline-block; */
    font-size: 2vw;
    text-align: center;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;
    /* padding: 5vh 4vw; */
}

#page2>h1 {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: poppins;
    /* transform: translate(-50%, -50%); */
    color: #88a539;
    position: relative;
    text-decoration: underline;
}

.projects {
    background-color: #000000;
    /* border: 3px solid #fff; */
    height: 85vh;
    /* margin-bottom: 4vmax; */
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.projects img {
    height: 13vmax;
    box-shadow: 1px 0px 15px rgb(137, 132, 132);
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;
    /* padding: 10vh 4vw; */
}

#intro-div img {
    height: 7vmax;
    /* box-shadow: 1px 0px 15px rgb(137, 132, 132); */
    padding: 0vw 1vw;
}


/* #intro-div h3 {
    text-align: center;
    width: 80vw;
    padding-top: 25vh;
    padding-bottom: 10vh;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    display: inline;
} */

#page3 h1 {
    word-spacing: 0.2vw;
    letter-spacing: 0.01vw;
    font-size: 5.8vw;
    /* line-height: 6.3vw; */
    color: #ffffff;
    /* font-weight: 600;     */
    position: relative;
    /* top: 100px; */
    left: 660px;
    border-bottom: 10px solid rgb(74, 255, 135);
    width: 15vw;
    text-align: center;
}

#intro-div h2 {
    word-spacing: 0.2vw;
    letter-spacing: 0.01vw;
    font-size: 4.4vw;
    /* line-height: 10.3vw; */
    color: #DCFF7E;
    font-weight: 600;
    /* text-decoration: underline; */
    /* background-color: #e5e0e0; */
    width: 10vw;
    height: 6vw;
    border-bottom: 10px solid #88a539;
    text-align: center;
    /* text-align: center; */
}

#intro-div {
    background-color: #000000;
    /* border: 3px solid #fff; */
    height: 30vh;
    /* margin-bottom: 4vmax; */
    display: inline-block;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding: 0vw 20vw; */
    width: 100vw;
    display: flex;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;
    /* padding: 5vh 4vw; */
}

@media (max-width: 600px) {
    .nav {
        background-color: rgb(0, 0, 0);
        color: #000000;
        padding: 0 5vw;
        height: 60px;
    }
    .nav h2 {
        font-size: 5vw;
        color: #DCFF7E;
    }
    .nav h4 {
        font-size: 4vw;
        display: none;
    }
    .nav i {
        display: block;
        font-size: 6vw;
        color: #DCFF7E;
    }
    #page1 {
        height: calc(100vh - 60px);
        flex-direction: column;
    }
    .left {
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 50vh;
    }
    .right {
        /* background-color: rgb(193, 117, 17); */
        width: 100vw;
        height: 50vh;
    }
    .right h1 {
        font-size: 12vw;
        text-align: center;
        margin-top: 0px;
    }
    .right span h1 {
        font-family: poppins;
    }
    .profile {
        height: 70vw;
        width: 50vw;
        background-color: #000;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        position: relative;
    }
    .skills h4 {
        color: #e5e0e0;
        /* display: inline-block; */
        font-size: 6vw;
        text-align: center;
    }
    #page2 {
        min-height: 100vh;
        width: 100vw;
        background-color: #000000;
        position: relative;
    }
    #page2>h1 {
        font-size: 4.4vmax;
        font-weight: 600;
        font-family: poppins;
        /* background-color: red; */
        left: 70px;
        /* top: -15px; */
        /* transform: translate(-50%, -50%); */
        /* top: 10%; */
        /* left: 50%; */
        position: relative;
    }
    #intro-div {
        text-align: center;
        width: 90vw;
        padding-top: 0vh;
        padding-bottom: 1vh;
        /* background-color: red; */
        margin-left: auto;
        margin-right: auto;
        height: 20vh;
    }
    #page3 {
        min-height: 100vh;
        width: 100vw;
        background-color: #000000;
        position: relative;
    }
    #page3 h1 {
        word-spacing: 0.6vw;
        /* letter-spacing: 0.01vw; */
        font-size: 10.2vw;
        font-weight: 100;
        /* line-height: 11.8vw; */
        /* padding-bottom: 20vh; */
        color: aliceblue;
        position: relative;
        left: 39vw;
        width: 25vw;
        border-bottom: 3px solid rgb(74, 255, 135);
    }
    #intro-div img {
        height: 9vmax;
        /* box-shadow: 1px 0px 15px rgb(137, 132, 132); */
        padding: 0vw 2vw;
    }
}

#circle {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 254, 252);
    position: absolute;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 99999;
    transition: all linear 0.2s;
    /* animation-name: ball;
    transition: all linear 0.2s;
    border: 2px solid rgb(255, 255, 255);
    animation-timing-function: linear 0.5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transition: all 0.3s ease-out;
    animation: bounce 0.7s infinite alternate;
    display: flex;
    justify-content: center;
    align-self: center; */
    /* overflow: hidden; */
}


/* @keyframes ball {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
} */